if SHIELD_LERGO_LEFT

config ZMK_KEYBOARD_NAME
    default "lergo"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_LERGO_LEFT || SHIELD_LERGO_RIGHT

config ZMK_SPLIT
    default y

endif
