/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
//#include <dt-bindings/zmk/bt.h>


/ {
        keymap {
                compatible = "zmk,keymap";

                default {

//               KC_Q,    KC_W,     KC_F,    KC_P,    KC_G,                            KC_J, KC_L,    KC_U,    KC_Y,     KC_QUOT,
//    TT(2),     KC_A,    KC_R,     KC_S,    KC_T,    KC_D, KC_MINUS,         KC_SCLN, KC_H, KC_N,    KC_E,    KC_I,        KC_O, MO(3),
//    MO(4),     KC_Z,    KC_X,     KC_C,    KC_V,    KC_B, KC_ESC,         KC_EQL, KC_K, KC_M, KC_COMM, KC_DOT,LSFT(KC_SLSH), KC_LGUI,
//    KC_PSCR,  KC_ENT,  KC_SPC,    KC_LCTL,       KC_LSFT,  KC_BSPC,  MO(5),KC_LALT 

                        bindings = <

                  &kp Q &kp W &kp F &kp P &kp G                                  &kp J   &kp L   &kp U     &kp Y    &kp SQT
     &kp ESC     &kp A &kp R &kp S &kp T &kp D &kp MINUS            &kp SEMI    &kp H   &kp N   &kp E     &kp I    &kp O        &kp ESC
     &kp ESC  &kp Z &kp X &kp C &kp V &kp B &kp ESC              &kp EQUAL   &kp K   &kp M   &kp COMMA &kp DOT  &kp LS(FSLH) &kp LGUI
                  &kp PSCRN    &kp RET   &kp SPACE  &kp LCTRL  &kp RSHFT  &kp BSPC  &kp ESC   &kp LALT

                        >;

                };
        };
};
